h1 {
	background-color: #822f00;
	color: white;
	text-align: center;
	margin: 0px;
}
.left{
	float: left;
	margin: 20px;
}
.right{
	float: right;
	margin: 20px;
}
p {
	float: right;
    width: 400px;
    margin: 15px;
}